<md-content class="Page-Container DemoHeader">
    <div layout="row">
        <div flex="90" flex-offset="5" class="DemoHeader-container">
            <div layout="row" layout-align="space-between">
                <h4>Brian Serrano S. - Desarrollador</h4>
                <div layout="row" layout-align="center stretch">
                    <a hide-xs class="DemoHeader-link md-subhead" ui-sref="app.create_cost">Costo por segundo</a>
                    <a hide-xs class="DemoHeader-link md-subhead" ui-sref="app.recharges">Recargas</a>
                    <a hide-xs class="DemoHeader-link md-subhead" ui-sref="app.balances">Saldo</a>
                    <a hide-xs class="DemoHeader-link md-subhead" ui-sref="app.intakes">Consumo</a>
                </div>
            </div>
        </div>
    </div>
</md-content>
<div class="DemoHeader-spacer"></div>
